<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">CC/TI</th>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">Apellidos</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (patient of this.patients(); track $index){
      <tr class="bg-white hover:bg-gray-50">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ patient.account?.cc }}
        </th>
        <td class="px-6 py-4">
          {{ patient.name.toCapitalCase() }}
        </td>
        <td class="px-6 py-4">
          {{ patient.lastname.toCapitalCase() }}
        </td>
        <td class="px-6 py-4">
          {{
            patient.account?.email
              ? patient.account?.email
              : "Email no registrado"
          }}
        </td>
        <td class="px-6 py-4 text-right">
          <a
            [routerLink]="[
              '/PortalEmpleado/Gestion/Pacientes/HistorialClinico',
              patient.account?.cc
            ]"
            routerLinkActive="router-link-active"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Mostrar Historial Clinico</a
          >
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
