<div class="flex flex-row items-center">
  <!-- Help text -->
  <span class="text-sm text-gray-700 dark:text-gray-400 mx-3">
    Mostrando
    <span class="font-semibold text-gray-900 dark:text-white">1</span> to
    <span class="font-semibold text-gray-900 dark:text-white">10</span> of
    <span class="font-semibold text-gray-900 dark:text-white">100</span>
    Entries
  </span>
  <!-- Buttons -->
  <div class="inline-flex mt-2 xs:mt-0 mx-3">
    <button
      class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-blue-700 rounded-s hover:bg-blue-900"
    >
      Anterior
    </button>
    <button
      class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-blue-700 border-0 border-s border-blue-600 rounded-e hover:bg-blue-900"
    >
      Siguiente
    </button>
  </div>
</div>
